<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
	</startup>
	<appSettings>
		<!--Integrated Security=True;: Isso indica que você está usando autenticação do Windows para se conectar. Isso significa que a autenticação será baseada nas credenciais da conta de usuário que está executando a aplicação.-->
		<add key="SqlConnection" value="Data Source=DESKTOP-D6OC4R0;Initial Catalog=Estoque;Integrated Security=True;"></add>
	</appSettings>
</configuration>